

.ui.menu{
      font-family: 'AvenirNext','Helvetica Neue',Arial,Helvetica,sans-serif;

}



.header h1{
  text-align: center;
}


.ui.margin.ui.grid img
{
  margin-top:150px;
  height: 400px;
}
.header{

  margin-left: 10px;
  font-size: 43px;
  color:#444;
  margin-bottom: 20px;
}
#jumbo img{
  margin-top: 100px;
}


.item p
{
font-weight: bold;
color:#6d276d;

}
.item i{
  color:#6d276d;
}

.ui.image img{

  height: 400px;
  width: 400px;
}
.screen-head{
  padding-top: 30px;
  font-family: 'Bitter', serif;

}
/*.ui.card{
  height:650px;
  width:300px;
}*/

.follow{
  float: right;
}
.follow i{
padding-right: 15px;
color:#444;


}
/*.head{
  margin-top: 50px;
  margin-left: 400px;
}*/
